body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
textarea {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a, a:visited {
  text-decoration: none; }

input,
textarea {
  border: 0;
  outline: none; }

textarea {
  resize: none;
  overflow: hidden; }

/* for IE */
a img {
  border: none; }

button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: 0;
  padding: 0; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  height: 100%; }

body {
  font-family: "open_sans", 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px; }

.product {
  margin: 10px 0; }
  .product-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px; }
  .product-image {
    border: 1px solid #e6e6e6;
    text-align: center; }
    .product-image img {
      max-height: 175px; }
  .product-filter {
    padding: 25px 0;
    border-bottom: 1px solid #e3e5e7; }
  .product-info {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #969696;
    padding-bottom: 20px; }
  .product-social {
    list-style: none;
    text-align: center;
    margin: 10px auto; }
    .product-social_text {
      display: none; }
    .product-social_item {
      display: inline-block; }
      .product-social_item a {
        background: no-repeat center center;
        width: 35px;
        height: 35px;
        display: block; }

.function-name {
  float: left;
  width: 80px;
  line-height: 43px;
  font-weight: 700;
  font-size: 15px; }

.function-select {
  width: 69%;
  height: 42px;
  padding: 10px; }

.function-size, .function-quantity {
  margin-top: 15px; }

.function-quantity {
  padding-bottom: 25px;
  border-bottom: 1px solid #e3e5e7; }

.function-button {
  width: 100%;
  height: 50px;
  border: 2px solid #464646;
  background-color: #fff;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 1px; }

.function-availability {
  margin-top: 25px; }

.color-item,
.color-list {
  display: inline-block; }

.color-item + .color-item {
  margin-left: 5px; }

.color-link {
  display: block;
  width: 43px;
  height: 43px; }
  .color-link:hover {
    border: 2px solid #d2d2d2; }
  .color-link.color-white {
    background-color: #fff;
    border: 2px solid #d2d2d2; }
  .color-link.color-blue {
    background-color: #add4eb; }
  .color-link.color-purple {
    background-color: #bbafd9; }
  .color-link.color-pink {
    background-color: #ebadc3; }

.availability-text {
  text-transform: uppercase;
  font-weight: 700; }
  .availability-text_status {
    color: #f3546a; }

.availability-price {
  font-size: 36px;
  font-weight: 700; }
  .availability-price_one {
    color: #c8c8c8;
    display: none;
    text-decoration: line-through; }

.info-title,
.info-subtitle {
  font-size: 16px;
  letter-spacing: 1px; }

.info-text, .details-text_list {
  letter-spacing: 1px;
  font-size: 13px; }

.details-button {
  display: none; }

.details-text {
  margin-top: 25px; }
  .details-text_list {
    list-style-position: inside; }

.product-social_item .fb {
  background-image: url("../img/fb-icon.png"); }

.product-social_item .tw {
  background-image: url("../img/tw-icon.png"); }

.product-social_item .g {
  background-image: url("../img/g-icon.png"); }

.product-social_item .pi {
  background-image: url("../img/pi-icon.png"); }

.photo-item_img {
  width: 100%;
  height: 180px; }

.photo-item_info {
  display: none; }

@media (min-width: 768px) {
  .product-title {
    font-size: 36px; }
  .product-image {
    width: 66%;
    float: left; }
    .product-image img {
      max-height: 300px; }
  .product-filter {
    width: 33%;
    float: right;
    margin-top: auto;
    padding: 0 10px 25px 10px; }
  .product-info {
    width: 66%;
    float: left;
    border: none;
    padding-right: 80px; }
  .product-social {
    text-align: left;
    width: 33%;
    float: left;
    padding-left: 10px; }
  .product-photo {
    clear: both;
    display: table; }
  .function-select {
    width: 100%; }
  .function-name {
    margin-top: -10px; }
  .color-item + .color-item {
    margin-left: 10px; }
  .availability-text {
    font-size: 12px; }
  .product-social_item + .product-social_item {
    margin-left: 10px; }
  .info-text, .details-text_list {
    font-size: 14px; }
  .details-button {
    display: block;
    margin-top: 30px; }
    .details-button_item {
      font-size: 12px;
      font-weight: 700;
      background: transparent;
      border: none;
      border-top: 2px solid black;
      padding: 10px 15px 0 0;
      position: relative;
      cursor: pointer;
      outline: none; }
      .details-button_item:after {
        content: "\002304";
        width: 15px;
        height: 10px;
        position: absolute;
        top: 5px;
        right: 0; }
  .details-text {
    display: none; }
  .photo-item {
    width: 30%;
    float: left; }
    .photo-item_img {
      height: 160px; }
  .photo-item + .photo-item {
    margin-left: 5%; } }

@media (min-width: 1024px) {
  .product-title {
    font-size: 40px; }
  .product-image img {
    max-height: 415px; }
  .product-filter {
    padding: 0 10px 30px 10px; }
  .product-social_text {
    display: inline-block;
    line-height: 35px;
    font-weight: 700; }
  .product-social_item {
    vertical-align: top;
    margin-left: 20px; }
  .product-photo {
    width: 100%; }
  .function-name {
    margin: 0; }
  .function-select {
    width: 69%; }
  .function-size, .function-quantity, .function-availability {
    margin-top: 30px; }
  .function-quantity {
    padding-bottom: 30px; }
  .function-button {
    margin-top: 15px;
    max-width: 240px; }
  .color-item + .color-item {
    margin-left: 12px; }
  .availability-price {
    margin-top: 10px;
    font-size: 42px;
    color: #f3546a; }
    .availability-price_one {
      display: inline-block;
      margin-right: 20px; }
  .details-button {
    display: none; }
  .details-text {
    display: block; }
  .info-text, .details-text_list,
  .info-details {
    font-size: 15px; }
  .photo-item {
    position: relative; }
    .photo-item:hover .photo-item_info {
      visibility: visible; }
    .photo-item_img {
      height: 230px; }
    .photo-item_info {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 60px 30px;
      text-transform: uppercase;
      visibility: hidden; }
    .photo-item_text {
      font-weight: 700;
      font-size: 24px;
      color: #fff; }
    .photo-item_button {
      margin-top: 30px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      padding: 10px 15px;
      outline: none; }
      .photo-item_button:hover {
        background: #fff; } }

/*slick arrows*/
.slick-prev {
  left: 0;
  width: 30px;
  height: 50px; }

.slick-next {
  right: 0;
  width: 30px;
  height: 50px; }

.slick-prev:before {
  content: "&#60;";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 30px;
  background-image: url("../img/prev.png");
  background-repeat: no-repeat;
  background-position: center center; }

.slick-next:before {
  content: "&#60;";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 30px;
  background-image: url("../img/next.png");
  background-repeat: no-repeat;
  background-position: center center; }
