.product {
    margin: 10px 0;
    // title
    &-title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    // main banner
    &-image {
        border: 1px solid $grey;
        text-align: center;
        img {
            max-height: 175px;
        }
    }
    // filter block
    &-filter {
        padding: 25px 0;
        border-bottom: 1px solid $transparent-grey;
    }
    //info (text with description)
    &-info {
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #969696;
        padding-bottom: 20px;
    }
    // social icons
    &-social {
        list-style: none;
        text-align: center;
        margin: 10px auto;
        &_text {
            display: none;
        }
        &_item {
            display: inline-block;
            a {
                background: no-repeat center center;
                width: 35px;
                height: 35px;
                display: block;
            }
        }
    }
}

// FUNCTIONS for product (color,size..)
.function {
    // name for functions
    &-name {
        float: left;
        width: 80px;
        line-height: 43px;
        font-weight: 700;
        font-size: 15px;
    }
    // dropdown for size and quantity
    &-select {
        width: 69%;
        height: 42px;
        padding: 10px;
    }
    // margin for function blocks
    &-size,
    &-quantity {
        margin-top: 15px;
    }
    // quantity 
    &-quantity {
        padding-bottom: 25px;
        border-bottom: 1px solid $transparent-grey;
    }
    // button
    &-button {
        width: 100%;
        height: 50px;
        border: 2px solid $light-black;
        background-color: $white;
        margin-top: 10px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    // availability
    &-availability {
        margin-top: 25px;
    }
}

// color
.color-item,
.color-list {
    display: inline-block;
}

.color-item+.color-item {
    margin-left: 5px;
}

.color-link {
    display: block;
    width: 43px;
    height: 43px;
    &:hover {
        border: 2px solid $light-grey;
    }
    &.color-white {
        background-color: $white;
        border: 2px solid $light-grey;
    }
    &.color-blue {
        background-color: $blue;
    }
    &.color-purple {
        background-color: $purple;
    }
    &.color-pink {
        background-color: $pink;
    }
}

// availability
.availability-text {
    text-transform: uppercase;
    font-weight: 700;
    &_status {
        color: $light-red;
    }
}

.availability-price {
    font-size: 36px;
    font-weight: 700;
    &_one {
        color: $transparent-black;
        display: none;
        text-decoration: line-through;
    }
}

//INFO (text with description)
// title
.info-title,
.info-subtitle {
    font-size: 16px;
    letter-spacing: 1px;
}

//text
.info-text,
{
    letter-spacing: 1px;
    font-size: 13px;
}

//details button
.details-button {
    display: none;
}

//details text
.details-text {
    margin-top: 25px;
    &_list {
        list-style-position: inside;
        @extend .info-text;
    }
}

//social icons
$socials: fb,
tw,
g,
pi;
@each $social in $socials {
    $i: index($socials, $social);
    .product-social_item .#{$social} {
        background-image: url("../img/"+ $social +"-icon.png");
    }
}

//exta PHOTO
.photo-item {
    &_img {
        width: 100%;
        height: 180px;
    }
    &_info {
        display: none;
    }
}

//SCREEN SIZE 768px
@media (min-width: $tablet) {
    .product {
        // title
        &-title {
            font-size: 36px;
        }
        // banner
        &-image {
            width: 66%;
            float: left;
            img {
                max-height: 300px;
            }
        }
        //filter block
        &-filter {
            width: 33%;
            float: right;
            margin-top: auto;
            padding: 0 10px 25px 10px;
        }
        //info (description for item)
        &-info {
            width: 66%;
            float: left;
            border: none;
            padding-right: 80px;
        }
        //socials
        &-social {
            text-align: left;
            width: 33%;
            float: left;
            padding-left: 10px;
        }
        //extra photo
        &-photo {
            clear: both;
            display: table;
        }
    }
    // FUNCTIONS for product (color,size..)
    .function {
        // size and quantity
        &-select {
            width: 100%;
        }
        // names
        &-name {
            margin-top: -10px;
        }
    }
    //color
    .color-item+.color-item {
        margin-left: 10px;
    }
    //availability
    .availability-text {
        font-size: 12px;
    }
    //social-items margin
    .product-social_item+.product-social_item {
        margin-left: 10px;
    }
    //info (text)
    .info-text {
        font-size: 14px;
    }
    //button stuling
    .details-button {
        display: block;
        margin-top: 30px;
        &_item {
            font-size: 12px;
            font-weight: 700;
            background: transparent;
            border: none;
            border-top: 2px solid black;
            padding: 10px 15px 0 0;
            position: relative;
            cursor: pointer;
            outline: none;
            &:after {
                content: "\002304";
                width: 15px;
                height: 10px;
                position: absolute;
                top: 5px;
                right: 0;
            }
        }
    }
    //details text (list)
    .details-text {
        display: none;
    }
    //extra block with photo's
    .photo-item {
        width: 30%;
        float: left;
        &_img {
            height: 160px;
        }
    }
    .photo-item+.photo-item {
        margin-left: 5%;
    }
}

//SCREEN SIZE 1024px
@media (min-width: $desktop) {
    .product {
        //title
        &-title {
            font-size: 40px;
        }
        //banner
        &-image {
            img {
                max-height: 415px;
            }
        }
        //fiter
        &-filter {
            padding: 0 10px 30px 10px;
        }
        //social icons
        &-social {
            &_text {
                display: inline-block;
                line-height: 35px;
                font-weight: 700;
            }
            &_item {
                vertical-align: top;
                margin-left: 20px;
            }
        }
        //extra photo
        &-photo {
            width: 100%;
        }
    }
    //FUNCTION
    .function {
        &-name {
            margin: 0;
        }
        &-select {
            width: 69%;
        }
        &-size,
        &-quantity,
        &-availability {
            margin-top: 30px;
        }
        &-quantity {
            padding-bottom: 30px;
        }
        &-button {
            margin-top: 15px;
            max-width: 240px;
        }
    }
    //color
    .color-item+.color-item {
        margin-left: 12px;
    }
    //availability
    .availability-price {
        margin-top: 10px;
        font-size: 42px;
        color: $red;
        &_one {
            display: inline-block;
            margin-right: 20px;
        }
    }
    //details (text)
    .details-button {
        display: none;
    }
    .details-text {
        display: block;
    }
    .info-text,
    .info-details {
        font-size: 15px;
    }
    //extra photo block
    .photo-item {
        position: relative;
        &:hover {
            .photo-item_info {
                visibility: visible;
            }
        }
        &_img {
            height: 230px;
        }
        &_info {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: rgba($black, .5);
            padding: 60px 30px;
            text-transform: uppercase;
            visibility: hidden;
        }
        &_text {
            font-weight: 700;
            font-size: 24px;
            color: $white;
        }
        &_button {
            margin-top: 30px;
            text-align: center;
            background-color: rgba($white, .5);
            border: none;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            padding: 10px 15px;
            outline: none;
            &:hover {
                background: $white;
            }
        }
    }
}