/*slick arrows*/

.slick-prev {
    left: 0;
    width: 30px;
    height: 50px;
}

.slick-next {
    right: 0;
    width: 30px;
    height: 50px;
}

.slick-prev:before {
    content: "&#60;";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 30px;
    background: {
        image: url("../img/prev.png");
        repeat: no-repeat;
        position: center center;
    }
}

.slick-next:before {
    content: "&#60;";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 30px;
    background: {
        image: url("../img/next.png");
        repeat: no-repeat;
        position: center center;
    }
}