html {
    height: 100%;
}

body {
    font-family: "open_sans", 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}