// colors
$black: #000;
$white: #fff;
$grey: #e6e6e6;
$light-grey: #d2d2d2;
$blue: #add4eb;
$purple: #bbafd9;
$pink: #ebadc3;
$transparent-grey: #e3e5e7;
$light-red:#f3546a;
$transparent-black: #c8c8c8;
$light-black: #464646;
$red: #f3546a;
// screen size
$tablet: 768px;
$desktop: 1024px;